[submodule "dpdk"]
	path = dpdk
	url = https://github.com/susanow/dpdk
[submodule "libslankdev"]
	path = libslankdev
	url = https://github.com/slankdev/libslankdev
[submodule "libvty"]
	path = libvty
	url = http://github.com/susanow/libvty
[submodule "libdpdk_cpp"]
	path = libdpdk_cpp
	url = https://github.com/susanow/libdpdk_cpp
