# [submodule "lthread"]
# 	path = lthread
# 	url = https://github.com/susanow/lthread.git
[submodule "dpdk"]
	path = dpdk
	url = https://github.com/susanow/dpdk
[submodule "libslankdev"]
	path = libslankdev
	url = https://github.com/slankdev/libslankdev
[submodule "libvty"]
	path = libvty
	url = http://github.com/susanow/libvty
[submodule "libdpdk_cpp"]
	path = libvty
	url = http://github.com/susanow/libdpdk_cpp
